h2 {
  background-color: #757070;
 }
h1 {
  color: #ff0044;
  text-align: center;
}
img {
  height: 475px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.form-container {
    text-align: center;
  }
  .nav-link {
    color: white;
  }