body {
    background-color: #757070;
  }

h1 {
  color: #ff0044;
  text-align: center;
}
img {
  width: 1650px;
  height: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.form-container {
    text-align: center;
  }
  .nav-link {
    color: white;
  }