body{
  background-color: #80878c;
  background-size: cover;
}
h1 {
  color: #ff0044;
  text-align: center;
}
img {
  height: 475px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.form-container {
    text-align: center;
  }
  .nav-link {
    color: white;
  }
.buttom{
  height: 475px;
}
.a1{
  font-size:20px;
}
.a2{
  font-size:20px;
}
.m1{
  height: 390px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}